<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>


	<nav th:replace="layouts :: navbar"></nav>

	
	<div class="container">
	
	<h4> Employee Directory </h4>
	<a class="btn btn-primary btn-sm mb-3" href="/employees/new" role="button">Add</a>
	<table class="table table-bordered table-striped">
		<thead class="thread-dark">
			<tr >
		    	<th>First Name</th>
		    	<th>Last Name</th>
		    	<th>Email</th>
	  		</tr>
		</thead>
	  
	  <tr th:each="employee:${employeeList}">
	    <td th:text="${employee.firstName}"></td>
	    <td th:text="${employee.lastName}"></td>
	    <td th:text="${employee.email}"></td>
	  </tr>
   </table>
	
	</div>
</body>
</html>